{% extends 'base.html' %}

{% load static %}

{% block body %}

<style>
    body{
        background-image: url("{% static 'fondo_home.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

    <div class="row justify-content-center">
      
             <img class="col-auto" src="{% static 'logo_3.png' %}" alt="logo_empresa" style="width: 30rem;"  >
        
       
        <form method="post">
            {% csrf_token %} 
            
            <div class="input-group mb-3">
                {{form.terminodebusqueda}}
                <button class="btn btn-outline-secondary" style="background-color: #c8acd4ff ;border: none;" type="button" id="button-addon2" >
                    <i class="bi bi-search"></i>
                </button>
              </div>
            
</form>
        
    </div>

{% endblock  %}